.about__website {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
@media screen and (max-width: 767px) {
.about__website {
    margin: 0 auto 0 16px
    }
}
